<h2 class="text-center">Ro'yxatdan o'tish</h2>

<div class="d-flex justify-content-center">
    <form asp-action="SignUpPost" class="mb-3 w-25" method="post">
    <label for="Name" class="form-label">Name</label>
    <input class="form-control" type="text" id="Name" name="Name" placeholder="Name"/>
    <label for="PhoneNumber" class="form-label">PhoneNumber</label>
    <input class="form-control" type="text" id="PhoneNumber" name="Phone" placeholder="PhoneNumber" />
    <label for="Password" class="form-label">Password</label>
    <input class="form-control" type="text" id="Password" name="Password" placeholder="Password" /><br />
    <input class="form-control btn btn-primary" type="submit" value="Sing up"/>
    </form>
</div>