@{
    ViewData["Title"] = "AutoTest";
}

<div class="text-center">
    <h1 class="display-4">Auto Test</h1>
    <p>4 xil tilda 700dan ortiq YHQ test savollaridan iborat onlayn test tizimi</p>
</div>

<div class="text-center">
    <a asp-controller="Users" asp-action="SignUp" class="btn btn-primary">Sign Up</a>
    <a asp-controller="Users" asp-action="SignIn" class="btn btn-light">Sign In</a>
</div>
